

.form-group{
    padding: var(--padding-md);
}
.form-group .form-input,.form-label{
    margin: var(--margin-xs) 0;
}
/*  */
.form-input-required::after{
    content: "*";
    color: var(--clr-error);
    font-weight: var(--fw-extra-bold-800);
    font-size: var(--fs-large);
}

.form-input{
    border: 1px solid var(--clr-primary);
    border-radius: 3px;
    padding: var(--padding-xs);
    width: 100%;
    outline: none;
}
.form-input:focus{
    outline: none;
}
.form-control input[type="checkbox"],input[type="radio"]{
    width: max-content;
    accent-color: var(--clr-primary);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
.form-input:disabled{
    cursor: not-allowed;
}
/* validation styles */

.form-valid-message{
    width: max-content;
    font-weight: var(--fw-bold-600);
    padding:0 var(--padding-xs);
    font-size: 12px;
}
.form-validation-msg i{
    color:inherit;
    margin: 0 var(--margin-xs);
}

.form-valid-success .form-input{
    border: 2px solid var(--clr-success);
}
.form-valid-success .form-valid-message{
    color: var(--clr-success);
}
/*  */
.form-valid-error .form-input{
    border: 2px solid var(--clr-error);
}
.form-valid-error .form-valid-message{
    color: var(--clr-error);
}
/*  */
.form-valid-warning .form-input{
    border: 2px solid var(--clr-warning);
}
.form-valid-warning .form-valid-message{
    color: var(--clr-warning);
}
