
.hero-section{
    height: 85vh;
    width: 100%;
    margin-bottom: var(--margin-xl);
}

.hero-img{
    background: url(../Components/Assets/hero-image.png) center center no-repeat;
    width: 100%;
    height: 70%;
}

.hero-content{
    color: var(--clr-primary);
    text-align: center;
    height: 30%;
}
.hero-content>*{
    margin: var(--margin-sm);
}
/*  */
.install-section{
    margin-top: var(--margin-xxl);
}
.install-section div>*{ 
    margin: var(--margin-md);
}
.installation-content>*{
    margin: var(--margin-md);
}

@media screen and (max-width: 500px) {
    .hero-section{
        height: 80vh;
        margin-bottom: var(--margin-large);
    }
}